body {
    padding:0;
    margin:0;
    background-image: url('https://lh3.googleusercontent.com/proxy/hD9lW1-Y8kpGuVIn3cWkN2g5iJtP7y5MORNsZR3X-ySv9pBAWOVgpS4lMYgWWKvt5bbNf1r7GhPDdB3xxQ4lCPtRfVgV7M2cMHI65q47sotoSuCODTw57mWaXEnN');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}